html, body {
  margin: 0;
  padding: 0;
  height: 100%; }

.add-url {
  position: fixed;
  bottom: 30px;
  right: 30px;
  border-radius: 50%;
  cursor: pointer; }

.dropdown-content {
  height: 100px;
  overflow-y: scroll; }
  .dropdown-content li a {
    width: 100% !important;
    color: #515151; }

.content {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center; }
  .content .side {
    height: 100%;
    width: 250px;
    background-color: white;
    z-index: 1; }
    .content .side .profile {
      width: 100%;
      height: 280px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center; }
      .content .side .profile .profile-image {
        position: relative;
        margin-top: 30px;
        width: 150px;
        height: 150px; }
        .content .side .profile .profile-image .setting {
          position: absolute;
          top: 5px;
          left: 5px;
          border-radius: 50%;
          cursor: pointer; }
      .content .side .profile .name {
        font-size: 24px;
        margin-top: 10px;
        color: #515151; }
    .content .side .tag-and-folder {
      width: 100%;
      height: calc(100% - 280px - 50px);
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: flex-start; }
      .content .side .tag-and-folder .tags {
        width: 100%;
        height: 120px;
        text-align: center;
        overflow-y: scroll; }
        .content .side .tag-and-folder .tags .user-tag {
          border: 0;
          margin-top: 5px;
          background-color: #f5f5f5;
          color: #8e8e8e; }
      .content .side .tag-and-folder .tags::-webkit-scrollbar {
        display: none; }
      .content .side .tag-and-folder .folders {
        width: 100%;
        height: 180px;
        overflow-y: scroll;
        margin-top: 30px;
        display: flex;
        flex-direction: column;
        justify-content: flex-start; }
        .content .side .tag-and-folder .folders .folder {
          margin-left: 40px;
          margin-top: 5px;
          font-size: 20px;
          color: #8e8e8e;
          cursor: pointer; }
      .content .side .tag-and-folder .folders::-webkit-scrollbar {
        display: none; }
    .content .side .service {
      width: 100%;
      height: 50px;
      display: flex;
      justify-content: center;
      align-items: center; }
      .content .side .service img {
        margin-right: 5px; }
      .content .side .service span {
        margin-left: 5px;
        color: #8e8e8e; }
  .content .main {
    height: 100%;
    width: calc(100% - 250px);
    background-color: #f5f5f5;
    display: flex;
    flex-direction: column;
    justify-content: center; }
    .content .main .nav {
      width: 100%;
      height: 60px;
      background: linear-gradient(to right, #276DFF, #2C54CC, #651DD3);
      display: flex;
      justify-content: flex-start;
      align-items: center; }
      .content .main .nav span {
        color: white; }
      .content .main .nav .folder-name {
        font-size: 24px;
        margin-left: 20px; }
      .content .main .nav .nav-title-bar {
        font-size: 30px;
        margin-left: 10px;
        margin-right: 10px;
        padding-bottom: 5px;
        font-weight: 300; }
      .content .main .nav .tag-name {
        font-weight: 100;
        color: #f5f5f5; }
    .content .main .bookmark-view {
      width: 100%;
      height: calc(100% - 60px);
      padding-top: 15px;
      padding-bottom: 15px;
      background-color: #f5f5f5;
      overflow-y: scroll; }
      .content .main .bookmark-view .bookmark {
        background-color: white;
        border-radius: 10px;
        width: 230px;
        height: 270px;
        display: inline-block;
        margin-top: 15px;
        margin-left: 30px;
        margin-bottom: 15px; }
        .content .main .bookmark-view .bookmark .bookmark-content {
          width: 100%;
          height: 100%;
          padding: 0;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center; }
          .content .main .bookmark-view .bookmark .bookmark-content .info-field {
            width: 210px;
            height: 60px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start; }
            .content .main .bookmark-view .bookmark .bookmark-content .info-field .name-field {
              width: 100%;
              height: 30px;
              display: flex;
              justify-content: space-between;
              align-items: center; }
              .content .main .bookmark-view .bookmark .bookmark-content .info-field .name-field span {
                font-size: 20px;
                color: #515151; }
              .content .main .bookmark-view .bookmark .bookmark-content .info-field .name-field img {
                cursor: pointer; }
            .content .main .bookmark-view .bookmark .bookmark-content .info-field .tag-field {
              width: 100%;
              height: 40px;
              overflow: hidden; }
              .content .main .bookmark-view .bookmark .bookmark-content .info-field .tag-field .tag-item {
                display: inline-block;
                position: relative;
                margin-left: 5px;
                margin-top: 8.5px; }
                .content .main .bookmark-view .bookmark .bookmark-content .info-field .tag-field .tag-item button {
                  border: 0;
                  border-radius: 5px;
                  background-color: #f5f5f5;
                  cursor: default;
                  color: #8e8e8e; }
                .content .main .bookmark-view .bookmark .bookmark-content .info-field .tag-field .tag-item img {
                  position: absolute;
                  top: -5px;
                  left: -5px;
                  cursor: pointer; }

.modal-setting {
  width: 500px;
  height: 400px;
  border-radius: 5px; }
  .modal-setting .edit-profile-modal-close {
    position: absolute;
    top: 20px;
    right: 20px;
    cursor: pointer; }
  .modal-setting .modal-content {
    width: 100%;
    height: 100%;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center; }
    .modal-setting .modal-content .left {
      height: 100%;
      width: 50%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center; }
      .modal-setting .modal-content .left .profile {
        position: relative; }
        .modal-setting .modal-content .left .profile .upload {
          position: absolute;
          top: 5px;
          left: 5px;
          border-radius: 50%;
          cursor: pointer; }
        .modal-setting .modal-content .left .profile .image-file {
          display: none; }
      .modal-setting .modal-content .left .name-field {
        width: 100%;
        height: auto; }
        .modal-setting .modal-content .left .name-field .name {
          width: 70px;
          height: 30px;
          margin: 0;
          margin-top: 20px;
          margin-left: calc(100% / 2 - 70px / 2);
          padding: 0;
          text-align: center;
          font-size: 24px;
          transition: none;
          color: #8e8e8e; }
        .modal-setting .modal-content .left .name-field input[type=text]:focus + label {
          color: #8e8e8e; }
        .modal-setting .modal-content .left .name-field input[type=text]:focus {
          border-bottom: #8e8e8e;
          box-shadow: 0 1px 0 0 #8e8e8e; }
        .modal-setting .modal-content .left .name-field .name-submit {
          outline: none;
          border: 0;
          border-radius: 5px;
          background-color: #f5f5f5;
          color: #8e8e8e; }
      .modal-setting .modal-content .left .logout {
        margin-top: 20px;
        outline: none;
        border: 0;
        border-radius: 5px;
        background-color: #f5f5f5; }
        .modal-setting .modal-content .left .logout a {
          color: #8e8e8e; }
    .modal-setting .modal-content .right {
      height: 100%;
      width: 50%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center; }
      .modal-setting .modal-content .right .edit-folder {
        width: 100%;
        height: 45%; }
        .modal-setting .modal-content .right .edit-folder .title-field {
          width: 100%;
          height: 50px;
          display: flex;
          justify-content: flex-start;
          align-items: center; }
          .modal-setting .modal-content .right .edit-folder .title-field .title {
            font-size: 20px;
            color: #515151; }
          .modal-setting .modal-content .right .edit-folder .title-field .edit-folder-submit {
            border: 0;
            border-radius: 5px;
            margin-left: 5px;
            background-color: #f5f5f5;
            color: #8e8e8e; }
        .modal-setting .modal-content .right .edit-folder .folders {
          width: 100%;
          height: 110px;
          overflow-y: scroll;
          display: flex;
          flex-direction: column;
          justify-content: flex-start;
          align-items: flex-start; }
          .modal-setting .modal-content .right .edit-folder .folders .folder-item {
            width: 100%;
            height: 20px;
            margin-top: 23.5px;
            display: flex;
            justify-content: flex-start;
            align-items: center; }
            .modal-setting .modal-content .right .edit-folder .folders .folder-item img {
              margin-right: 3px;
              cursor: pointer; }
            .modal-setting .modal-content .right .edit-folder .folders .folder-item span {
              color: #8e8e8e; }
        .modal-setting .modal-content .right .edit-folder .add-folder {
          width: 100%;
          height: calc(100% - 50px - 110px);
          display: flex;
          justify-content: flex-start;
          align-items: center; }
          .modal-setting .modal-content .right .edit-folder .add-folder input {
            width: 100px;
            height: 100%;
            margin: 0;
            padding: 0;
            transition: none;
            color: #8e8e8e;
            border-bottom: #8e8e8e;
            box-shadow: 0 1px 0 0 #8e8e8e; }
          .modal-setting .modal-content .right .edit-folder .add-folder input[type=text]:focus + label {
            color: #8e8e8e; }
          .modal-setting .modal-content .right .edit-folder .add-folder input[type=text]:focus {
            border-bottom: #8e8e8e;
            box-shadow: 0 1px 0 0 #8e8e8e; }
          .modal-setting .modal-content .right .edit-folder .add-folder .add {
            margin-right: 3px; }
          .modal-setting .modal-content .right .edit-folder .add-folder .submit {
            margin-left: 5px;
            cursor: pointer; }
      .modal-setting .modal-content .right .edit-tag {
        width: 100%;
        height: 45%; }
        .modal-setting .modal-content .right .edit-tag .title-field {
          width: 100%;
          height: 50px;
          display: flex;
          justify-content: flex-start;
          align-items: center; }
          .modal-setting .modal-content .right .edit-tag .title-field .title {
            font-size: 20px;
            color: #515151; }
          .modal-setting .modal-content .right .edit-tag .title-field .edit-tag-submit {
            border: 0;
            border-radius: 5px;
            margin-left: 5px;
            background-color: #f5f5f5;
            color: #8e8e8e; }
        .modal-setting .modal-content .right .edit-tag .tags {
          width: 90%;
          height: 110px;
          overflow-y: scroll;
          text-align: center; }
          .modal-setting .modal-content .right .edit-tag .tags .tag-item {
            display: inline-block;
            position: relative;
            margin-left: 5px;
            margin-top: 10px; }
            .modal-setting .modal-content .right .edit-tag .tags .tag-item button {
              border: 0;
              border-radius: 5px;
              background-color: #f5f5f5;
              cursor: default;
              color: #8e8e8e; }
            .modal-setting .modal-content .right .edit-tag .tags .tag-item img {
              position: absolute;
              top: -5px;
              left: -5px;
              cursor: pointer; }
        .modal-setting .modal-content .right .edit-tag .add-tag {
          width: 100%;
          height: calc(100% - 50px - 110px);
          display: flex;
          justify-content: flex-start;
          align-items: center; }
          .modal-setting .modal-content .right .edit-tag .add-tag input {
            width: 100px;
            height: 100%;
            margin: 0;
            padding: 0;
            transition: none;
            color: #8e8e8e;
            border-bottom: #8e8e8e;
            box-shadow: 0 1px 0 0 #8e8e8e; }
          .modal-setting .modal-content .right .edit-tag .add-tag input[type=text]:focus + label {
            color: #8e8e8e; }
          .modal-setting .modal-content .right .edit-tag .add-tag input[type=text]:focus {
            border-bottom: #8e8e8e;
            box-shadow: 0 1px 0 0 #8e8e8e; }
          .modal-setting .modal-content .right .edit-tag .add-tag .add {
            margin-right: 3px; }
          .modal-setting .modal-content .right .edit-tag .add-tag .submit {
            margin-left: 5px;
            cursor: pointer; }

.modal-add-url {
  width: 600px;
  height: 290px;
  border-radius: 5px; }
  .modal-add-url .modal-content {
    width: 100%;
    height: 100%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
    .modal-add-url .modal-content .close-field {
      width: 100%;
      height: 60px;
      display: flex;
      justify-content: flex-end; }
      .modal-add-url .modal-content .close-field img {
        cursor: pointer; }
    .modal-add-url .modal-content .url-input-field {
      width: 100%;
      height: 60px; }
      .modal-add-url .modal-content .url-input-field input {
        width: calc(100% - 15px);
        height: 50px;
        margin: 0;
        padding: 0;
        padding-left: 15px;
        transition: none;
        border-bottom: none;
        border-radius: 10px;
        background-color: #f5f5f5;
        color: #8e8e8e; }
      .modal-add-url .modal-content .url-input-field input[type=text]:focus + label {
        color: #8e8e8e; }
      .modal-add-url .modal-content .url-input-field input[type=text]:focus {
        border-bottom: none;
        box-shadow: none; }
    .modal-add-url .modal-content .name-input-field {
      width: 100%;
      height: 60px;
      margin-top: 10px;
      display: flex;
      justify-content: space-between;
      align-items: center; }
      .modal-add-url .modal-content .name-input-field input {
        width: 50%;
        height: 50px;
        margin: 0;
        padding: 0;
        padding-left: 15px;
        transition: none;
        border-bottom: none;
        border-radius: 10px;
        background-color: #f5f5f5;
        color: #8e8e8e; }
      .modal-add-url .modal-content .name-input-field input[type=text]:focus + label {
        color: #8e8e8e; }
      .modal-add-url .modal-content .name-input-field input[type=text]:focus {
        border-bottom: none;
        box-shadow: none; }
      .modal-add-url .modal-content .name-input-field a {
        width: 40%; }
      .modal-add-url .modal-content .name-input-field .btn, .modal-add-url .modal-content .name-input-field .btn-large {
        background-color: #2c55cd; }
      .modal-add-url .modal-content .name-input-field .btn:hover, .modal-add-url .modal-content .name-input-field .btn-large:hover {
        background-color: #2c55cd; }
    .modal-add-url .modal-content .mouse-input-field {
      width: 100%;
      height: 50px;
      display: flex;
      justify-content: space-between;
      align-items: center; }
      .modal-add-url .modal-content .mouse-input-field .checkbox-field {
        margin-left: 10px; }
        .modal-add-url .modal-content .mouse-input-field .checkbox-field .capture {
          opacity: 1;
          pointer-events: fill;
          position: relative; }
        .modal-add-url .modal-content .mouse-input-field .checkbox-field span {
          color: #8e8e8e; }
      .modal-add-url .modal-content .mouse-input-field .add-url-submit {
        border: 0;
        background-color: #2c55cd;
        color: #f5f5f5;
        border-radius: 5px; }

.edit-url-popup {
  width: 150px;
  height: 200px;
  background-color: white;
  border-radius: 10px; }
  .edit-url-popup .content {
    width: 100%;
    height: 100%;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
    .edit-url-popup .content .folder-select-field {
      width: 70%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      overflow-x: hidden;
      overflow-y: scroll; }
      .edit-url-popup .content .folder-select-field span {
        color: #8e8e8e;
        cursor: pointer; }
    .edit-url-popup .content .tag-input-field {
      width: 90%;
      margin-top: 5px;
      display: flex;
      justify-content: center;
      align-items: center; }
      .edit-url-popup .content .tag-input-field span {
        color: #8e8e8e; }
      .edit-url-popup .content .tag-input-field input {
        width: 70px;
        height: 100%;
        margin: 0;
        padding: 0;
        transition: none;
        color: #8e8e8e;
        border-bottom: #8e8e8e;
        box-shadow: 0 1px 0 0 #8e8e8e; }
      .edit-url-popup .content .tag-input-field input[type=text]:focus + label {
        color: #8e8e8e; }
      .edit-url-popup .content .tag-input-field input[type=text]:focus {
        border-bottom: #8e8e8e;
        box-shadow: 0 1px 0 0 #8e8e8e; }
    .edit-url-popup .content button {
      margin-top: 5px;
      border: 0;
      background-color: #2c55cd;
      color: white; }

/*# sourceMappingURL=index.css.map */
