html, body {
  margin: 0;
  padding: 0;
  height: 100%; }

.content {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center; }
  .content .side {
    height: 100%;
    width: 250px;
    background-color: white;
    z-index: 1; }
    .content .side .profile {
      width: 100%;
      height: 280px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center; }
      .content .side .profile .profile-image {
        position: relative;
        margin-top: 30px;
        width: 150px;
        height: 150px; }
        .content .side .profile .profile-image .setting {
          position: absolute;
          top: 5px;
          left: 5px;
          border-radius: 50%;
          cursor: pointer; }
      .content .side .profile .name {
        font-size: 24px;
        margin-top: 10px;
        color: #515151; }
    .content .side .tag-and-folder {
      width: 100%;
      height: calc(100% - 280px - 50px);
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: flex-start; }
      .content .side .tag-and-folder .tags {
        width: 100%;
        height: 120px;
        text-align: center;
        overflow-y: scroll; }
        .content .side .tag-and-folder .tags .tag {
          border: 0;
          margin-top: 5px;
          background-color: #f5f5f5;
          color: #8e8e8e; }
      .content .side .tag-and-folder .tags::-webkit-scrollbar {
        display: none; }
      .content .side .tag-and-folder .folders {
        width: 100%;
        height: 180px;
        overflow-y: scroll;
        margin-top: 30px;
        display: flex;
        flex-direction: column;
        justify-content: flex-start; }
        .content .side .tag-and-folder .folders .folder {
          margin-left: 40px;
          margin-top: 5px;
          font-size: 20px;
          color: #8e8e8e; }
      .content .side .tag-and-folder .folders::-webkit-scrollbar {
        display: none; }
    .content .side .service {
      width: 100%;
      height: 50px;
      display: flex;
      justify-content: center;
      align-items: center; }
      .content .side .service img {
        margin-right: 5px; }
      .content .side .service span {
        margin-left: 5px;
        color: #8e8e8e; }
  .content .main {
    height: 100%;
    width: calc(100% - 250px);
    background-color: #f5f5f5;
    display: flex;
    flex-direction: column;
    justify-content: center; }
    .content .main .nav {
      width: 100%;
      height: 60px;
      background: linear-gradient(to right, #276DFF, #2C54CC, #651DD3);
      display: flex;
      justify-content: flex-start;
      align-items: center; }
      .content .main .nav span {
        color: white; }
      .content .main .nav .folder-name {
        font-size: 24px;
        margin-left: 20px; }
      .content .main .nav .nav-title-bar {
        font-size: 30px;
        margin-left: 10px;
        margin-right: 10px;
        padding-bottom: 5px;
        font-weight: 300; }
      .content .main .nav .tag-name {
        font-weight: 100;
        color: #f5f5f5; }
    .content .main .bookmark-view {
      width: 100%;
      height: calc(100% - 60px);
      background-color: #f5f5f5; }

.modal-setting {
  width: 500px;
  height: 400px;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center; }
  .modal-setting .left {
    height: 100%;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
    .modal-setting .left .profile {
      position: relative; }
      .modal-setting .left .profile .upload {
        position: absolute;
        top: 5px;
        left: 5px;
        border-radius: 50%;
        cursor: pointer; }
      .modal-setting .left .profile .image-file {
        display: none; }
    .modal-setting .left .name-field {
      width: 100%;
      height: auto; }
      .modal-setting .left .name-field .name {
        width: 70px;
        height: 30px;
        margin: 0;
        margin-top: 20px;
        margin-left: calc(100% / 2 - 70px / 2);
        padding: 0;
        text-align: center;
        font-size: 24px;
        transition: none;
        color: #8e8e8e; }
      .modal-setting .left .name-field input[type=text]:focus + label {
        color: #8e8e8e; }
      .modal-setting .left .name-field input[type=text]:focus {
        border-bottom: #8e8e8e;
        box-shadow: 0 1px 0 0 #8e8e8e; }
      .modal-setting .left .name-field .name-submit {
        outline: none;
        border: 0;
        border-radius: 5px;
        background-color: #f5f5f5;
        color: #8e8e8e; }
    .modal-setting .left .logout {
      margin-top: 20px;
      outline: none;
      border: 0;
      border-radius: 5px;
      background-color: #f5f5f5; }
      .modal-setting .left .logout a {
        color: #8e8e8e; }
  .modal-setting .right {
    height: 100%;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
    .modal-setting .right .edit-folder {
      width: 100%;
      height: 45%;
      background-color: blue; }
      .modal-setting .right .edit-folder .title-field {
        width: 100%;
        height: 50px;
        background-color: yellow;
        display: flex;
        justify-content: flex-start;
        align-items: center; }
        .modal-setting .right .edit-folder .title-field .title {
          font-size: 20px;
          color: #515151; }
        .modal-setting .right .edit-folder .title-field .edit-folder-submit {
          border: 0;
          border-radius: 5px;
          margin-left: 5px;
          background-color: #f5f5f5;
          color: #8e8e8e; }
      .modal-setting .right .edit-folder .folders {
        width: 100%;
        height: 110px;
        background-color: pink;
        overflow-y: scroll;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start; }
        .modal-setting .right .edit-folder .folders .folder-item {
          width: 100%;
          height: 20px;
          margin-top: 23.5px;
          display: flex;
          justify-content: flex-start;
          align-items: center; }
          .modal-setting .right .edit-folder .folders .folder-item img {
            margin-right: 3px; }
          .modal-setting .right .edit-folder .folders .folder-item span {
            color: #8e8e8e; }
      .modal-setting .right .edit-folder .add-folder {
        width: 100%;
        height: calc(100% - 50px - 110px);
        background-color: white;
        display: flex;
        justify-content: flex-start;
        align-items: center; }
        .modal-setting .right .edit-folder .add-folder input {
          width: 100px;
          height: 100%;
          margin: 0;
          padding: 0;
          transition: none;
          color: #8e8e8e;
          border-bottom: #8e8e8e;
          box-shadow: 0 1px 0 0 #8e8e8e; }
        .modal-setting .right .edit-folder .add-folder input[type=text]:focus + label {
          color: #8e8e8e; }
        .modal-setting .right .edit-folder .add-folder input[type=text]:focus {
          border-bottom: #8e8e8e;
          box-shadow: 0 1px 0 0 #8e8e8e; }
        .modal-setting .right .edit-folder .add-folder .add {
          margin-right: 3px; }
        .modal-setting .right .edit-folder .add-folder .submit {
          margin-left: 5px; }
    .modal-setting .right .edit-tag {
      width: 100%;
      height: 45%;
      background-color: green; }
      .modal-setting .right .edit-tag .title-field {
        background-color: yellow;
        width: 100%;
        height: 50px;
        display: flex;
        justify-content: flex-start;
        align-items: center; }
        .modal-setting .right .edit-tag .title-field .title {
          font-size: 20px;
          color: #515151; }
        .modal-setting .right .edit-tag .title-field .edit-tag-submit {
          border: 0;
          border-radius: 5px;
          margin-left: 5px;
          background-color: #f5f5f5;
          color: #8e8e8e; }
      .modal-setting .right .edit-tag .tags {
        width: 100%;
        height: 110px;
        background-color: pink;
        overflow-y: scroll; }
        .modal-setting .right .edit-tag .tags .tag-item {
          display: inline-block;
          position: relative;
          margin-left: 5px;
          margin-top: 8px; }
          .modal-setting .right .edit-tag .tags .tag-item button {
            border: 0;
            border-radius: 5px;
            background-color: #f5f5f5;
            cursor: default; }
          .modal-setting .right .edit-tag .tags .tag-item img {
            position: absolute;
            top: -5px;
            left: -5px; }

/*# sourceMappingURL=index.css.map */
