<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Damda</title>
        <meta http-equiv="Pragma" content="no-cache" />
        <!-- jquery -->
        <script src="https://code.jquery.com/jquery-2.2.3.min.js"></script>
        <!-- materializecss -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <!-- css -->
        <link rel="stylesheet" href="/static/capture/css/index.css" type="text/css">
    </head>
    <body>
        <div class="content">
            <div class="side z-depth-3">

                <div class="profile">
                    <div class="profile-image">
                        <img id="setting" class="setting" src="/static/capture/images/setting.png" width="30px" height="30px">
                        <img class="image" src="/media/{{ user.username }}.png/" width="150px" height="150px">
                    </div>
                    <div class="name">
                        <span>{{ user.first_name }}{{ user.last_name }}</span>
                    </div>
                </div>

                <div class="tag-and-folder">
                    <div id="side-tag-field" class="tags">
                    </div>

                    <div id="side-folder-field" class="folders">
                    </div>
                </div>

                <div class="service">
                    <img src="/static/capture/images/logo.png" width="30px" height="30px">
                    <span>'damda'</span>
                </div>

            </div>
            <div class="main">
                <div class="nav">
                    <span id="nav-folder-name" class="folder-name">전체</span>
                    <span class="nav-title-bar">|</span>
                    <span id="nav-tag-names" class="tag-name"></span>
                </div>

                <div id="bookmark-view" class="bookmark-view">

                </div>
            </div>
        </div>

        <img id="add-url" class="add-url" src="/static/capture/images/plus.png" width="80px" height="80px">

        <div id="modal-add-url" class="modal-add-url modal">
            <div class="modal-content">

                <div class="close-field">
                    <img id="close-modal-add-url" src="/static/capture/images/close.png" width="15px" height="15px">
                </div>

                <div class="url-input-field">
                    <input id ="bookmark-url" class="url" type="text" placeholder="url을 입력하세요">
                </div>

                <div class="name-input-field">
                    <input id="bookmark-url-name" class="url-name" type="text" placeholder="제목을 입력하세요">
                    <a id="bookmark-url-folder" class='url-folder dropdown-button btn' href='#' data-activates='dropdown1'>폴더 선택</a>
                </div>

                <div class="mouse-input-field">
                    <div class="checkbox-field">
                        <input id="bookmark-capture" class="capture" type="checkbox">
                        <span>그대로 저장하기</span>
                    </div>
                    <button id="add-url-submit" class="add-url-submit" type="button">완료</button>
                </div>

            </div>
        </div>

        <ul id='dropdown1' class='dropdown-content'>
        </ul>

        <div id="modal-setting" class="modal-setting modal">
            <img id="edit-profile-modal-close" class="edit-profile-modal-close" src="/static/capture/images/close.png" width="20px" height="20px">
            <div class="modal-content">
                <div class="left">
                    <div class="profile">
                        <img id="upload" class="upload" src="/static/capture/images/upload.png" width="30px" height="30px">
                        <input id="image-file" class="image-file" type="file">
                        <img id="image" class="image" src="/media/{{ user.username }}.png" width="150px" height="150px">
                    </div>
                    <div class="name-field">
                        <input id="name" class="name" type="text" name="" value="{{ user.first_name }}{{ user.last_name }}">
                        <button id="name-submit" class="name-submit" type="button" name="button">완료</button>
                    </div>
                    <button id="logout" class="logout" type="button" name="button"><a href="/accounts/logout/">로그아웃</a></button>
                </div>
                <div class="right">
                    <div class="edit-folder">
                        <div class="title-field">
                            <span class="title">폴더 편집</span>
                            <button id="edit-folder-submit" class="edit-folder-submit">편집</button>
                        </div>
                        <div id="setting-folder-field" class="folders">

                        </div>
                        <div id="edit-folder-submit-field" class="add-folder">
                            <img class="add" src="/static/capture/images/add.png" width="13px" height="13px">
                            <input id="setting-folder-name" class="folder-name" type="text">
                            <img id="setting-folder-submit" class="submit" src="/static/capture/images/submit.png" width="13px" height="13px">
                        </div>
                    </div>
                    <div class="edit-tag">
                        <div class="title-field">
                            <span class="title">태그 편집</span>
                            <button id="edit-tag-submit" class="edit-tag-submit" name="button">편집</button>
                        </div>
                        <div id="setting-tag-field" class="tags">

                        </div>
                        <div id="edit-tag-submit-field" class="add-tag">
                            <img class="add" src="/static/capture/images/add.png" width="13px" height="13px">
                            <input id="setting-tag-name" class="tag-name" type="text">
                            <img id="setting-tag-submit" class="submit" src="/static/capture/images/submit.png" width="13px" height="13px">
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div id="edit-url-popup" class="edit-url-popup z-depth-1">
            <div class="content">
                <div id="edit-bookmark-folders" class="folder-select-field">

                </div>
                <div class="tag-input-field">
                    <span>#</span>
                    <input id="edit-bookmark-tag" type="text" name="" value="">
                    <img src="/static/capture/images/submit.png" width="13px" height="13px">
                </div>
                <div class="button-field">
                    <button id="edit-bookmark-submit" type="button" name="button">편집 완료</button>
                    <button id="delete-bookmark" type="button" name="button">삭제</button>
                </div>

            </div>
        </div>

        <script type="text/javascript">
            var selectedTags = [];
            var selectedFolder = '';
            var userFolders = [];
            var userTags = [];
            var selectedFolderInAddBookmark = '';
            var token = localStorage.getItem('basic');
            var currentEditingContainerID = '';

            $(document).ready(() => {
                initSetting();
                modalSetting();
                getSideMenuTag();
                getSideMenuFolder();
                getBookmark(selectedFolder, selectedTags);
            });

            function initSetting() {
                $('#edit-url-popup').css('display', 'none');
                $('#edit-tag-submit').on('click', () => {
                    let buttonText = $('#edit-tag-submit').text();
                    if(buttonText == '편집') {
                        $('#edit-tag-submit').text('완료');
                        $('.edit-tag-remove').css('display', '');
                        $('#edit-tag-submit-field').css('display', '');
                    }
                    else {
                        $('#edit-tag-submit').text('편집');
                        $('.edit-tag-remove').css('display', 'none');
                        $('#edit-tag-submit-field').css('display', 'none');
                    }
                });
                $('#edit-folder-submit').on('click', () => {
                    let buttonText = $('#edit-folder-submit').text();
                    if(buttonText == '편집') {
                        $('#edit-folder-submit').text('완료');
                        $('.edit-folder-remove').css('display', '');
                        $('#edit-folder-submit-field').css('display', '');
                    }
                    else {
                        $('#edit-folder-submit').text('편집');
                        $('.edit-folder-remove').css('display', 'none');
                        $('#edit-folder-submit-field').css('display', 'none');
                    }
                });
                $('#image-file').change(() => {
                    console.log($('#image-file').val());

                    var form = new FormData();
                    form.append("image", $('#image-file').val());

                    var settings = {
                        "async": true,
                        "crossDomain": true,
                        "url": "/app/profile/",
                        "method": "POST",
                        "processData": false,
                        "contentType": false,
                        "mimeType": "multipart/form-data",
                        "data": form
                    }

                    $.ajax(settings).done(function (response) {
                        console.log(response);
                    });
                })
                $('#setting').on('click', () => {
                    getEditPageTag();
                    getEditPageFolder();
                });
                $('#setting-folder-submit').on('click', () => {
                    let folderName = $('#setting-folder-name').val();
                    if(folderName != '') {
                        var settings = {
                            "async": true,
                            "crossDomain": true,
                            "url": "/app/folders/",
                            "method": "POST",
                            "headers": {
                                "content-type": "application/x-www-form-urlencoded",
                                "authorization": `Basic ${token}`
                            },
                            "data": {
                                "name": folderName
                            }
                        }

                        $.ajax(settings).done(function (response) {
                            console.log(response);
                            $('#setting-folder-name').val('');
                            getEditPageFolder();
                            getSideMenuFolder();
                        });
                    }
                });
                $('#setting-tag-submit').on('click', () => {
                    let tagName = $('#setting-tag-name').val();
                    if(tagName != '') {
                        var settings = {
                            "async": true,
                            "crossDomain": true,
                            "url": "/app/tags/",
                            "method": "POST",
                            "headers": {
                                "content-type": "application/x-www-form-urlencoded",
                                "authorization": `Basic ${token}`
                            },
                            "data": {
                                "name": tagName
                            }
                        }

                        $.ajax(settings).done(function (response) {
                            console.log(response);
                            getEditPageTag();
                            getSideMenuTag();
                            $('#setting-tag-name').val('');
                        });
                    }
                });
                $('#name-submit').on('click', () => {
                    let name = $('#name').val();
                    if(name != '') {
                        var settings = {
                            "async": true,
                            "crossDomain": true,
                            "url": "/app/username/",
                            "method": "POST",
                            "headers": {
                                "content-type": "application/x-www-form-urlencoded",
                                "authorization": `Basic ${token}`,
                            },
                            "data": {
                                "name": name
                            }
                        }

                        $.ajax(settings).done(function (response) {
                            console.log(response);
                            location.reload();
                        });
                    }
                });
                $('#add-url-submit').on('click', () => {
                    let url = $('#bookmark-url').val();
                    let name = $('#bookmark-url-name').val();
                    let check;
                    let folderName = selectedFolderInAddBookmark;

                    if($('#bookmark-capture').prop('checked')) {
                        check = 'true'
                    }
                    else {
                        check = 'false'
                    }

                    console.log(`url: ${url} / name: ${name} / folder: ${folderName}`);
                    var settings = {
                        "async": true,
                        "crossDomain": true,
                        "url": "/app/bookmarks/",
                        "method": "POST",
                        "headers": {
                            "content-type": "application/x-www-form-urlencoded",
                            "authorization": `Basic ${token}`
                        },
                        "data": {
                            "name": name,
                            "folderName": folderName,
                            "url": url,
                            "check": check
                        }
                    }

                    $.ajax(settings).done(function (response) {
                      console.log(response);
                      location.reload();
                    });
                    selectedFolderInAddBookmark = '';
                });

                $('#edit-bookmark-submit').on('click', () => {
                    let bookmarkID;
                    $('.edit-bookmark-folder').each((e, target) => {

                        bookmarkID = target.id.split('-')[target.id.split('-').length - 2];
                        let folderName = '';

                        if($(target).css('color') == 'rgb(44, 85, 205)') {
                            folderName = $(target).text();

                            var settings = {
                                "async": false,
                                "crossDomain": true,
                                "url": `/app/bookmarks/${bookmarkID}/`,
                                "method": "PATCH",
                                "headers": {
                                    "content-type": "application/x-www-form-urlencoded",
                                    "authorization": `Basic ${token}`
                                },
                                "data": {
                                    "folderName": folderName
                                }
                            }

                            $.ajax(settings).done(function (response) {
                                console.log(response);
                                getSideMenuFolder();
                                getBookmark();
                            });
                        }
                    });
                    for(let i in userTags) {
                        console.log('REQUEST');
                        tag = $('#edit-bookmark-tag').val();
                        var settings = {
                            "async": false,
                            "crossDomain": true,
                            "url": `/app/bookmarks/${bookmarkID}/`,
                            "method": "PATCH",
                            "headers": {
                                "content-type": "application/x-www-form-urlencoded",
                                "authorization": `Basic ${token}`
                            },
                            "data": {
                                "tag": tag
                            }
                        }

                        $.ajax(settings).done(function (response) {
                            console.log(response);
                            getSideMenuTag();
                            getBookmark();
                        });

                    }
                    $('#edit-bookmark-tag').val('');
                    $('#edit-url-popup').css('display', 'none');
                });

                $('#delete-bookmark').on('click', () => {
                    var settings = {
                        "async": true,
                        "crossDomain": true,
                        "url": `/app/bookmarks/${currentEditingContainerID}/`,
                        "method": "DELETE",
                        "headers": {
                            "content-type": "application/x-www-form-urlencoded"
                        }
                    }

                    $.ajax(settings).done(function (response) {
                        getSideMenuTag();
                        getSideMenuFolder();
                        getBookmark(selectedFolder, selectedTags);
                        $('#edit-url-popup').css('display', 'none');
                    });
                });
            }

            function getBookmark(folder, tags) {
                tags = tags.join(',');

                var settings = {
                    "async": true,
                    "crossDomain": true,
                    "url": `/app/bookmarks/?tags__name__exact=${tags}&owner__username__exact={{ user.username }}&folderName__exact=${folder}`,
                    "method": "GET",
                    "headers": {
                        "content-type": "application/x-www-form-urlencoded"
                    }
                }

                $.ajax(settings).done(function (response) {
                    console.log(response);
                    test = response;
                    $('.bookmark-view').empty();
                    for(let i in response) {
                        $('.bookmark-view').append(`
                            <div id="bookmark-${response[i].id}" class="bookmark z-depth-2">
                                <div class="bookmark-content">
                                    <img src="${response[i].imageURL}" width="210px" height="180px">
                                    <div class="info-field">
                                        <div class="name-field">
                                            <span id="${response[i].url}" class="open-bookmark">${response[i].name}</span>
                                            <img id="edit-url-${response[i].id}-${response[i].folderName}" class="edit-url" src="/static/capture/images/link.png" width="20px" height="20px">
                                        </div>
                                        <div id="bookmark-tag-field-${response[i].id}" class="tag-field">

                                        </div>
                                    </div>
                                </div>
                            </div>
                        `);
                        for(let j in response[i].tags) {
                            $(`#bookmark-tag-field-${response[i].id}`).append(`
                                <div id="bookmark-tag-item-${response[i].tags[j].id}" class="tag-item">
                                    <button type="button" name="button">${response[i].tags[j].name}</button>
                                    <img class="bookmark-tag-remove" src="/static/capture/images/remove.png" width="13px" height="13px">
                                </div>
                            `);
                        }
                    }

                    $('.bookmark-tag-remove').css('display', 'none');

                    $('.open-bookmark').on('click', (e) => {
                        let url = e.target.id;
                        console.log(url);
                        if(url.startsWith('http') == false) {
                            url = 'http://' + url
                        }
                        window.open(url, '_blank');
                    });

                    $('.edit-url').on('click', (e) => {
                        let button = $(e.target);
                        let folderName = e.target.id.split('-');
                        id = folderName[folderName.length - 2];
                        currentEditingContainerID = String(id);
                        console.log(currentEditingContainerID);
                        folderName = folderName[folderName.length - 1];

                        $('#edit-bookmark-folders').empty();
                        for(let i in userFolders) {
                            if(folderName == userFolders[i].name) {
                                $('#edit-bookmark-folders').append(`
                                    <span class="edit-bookmark-folder" id="edit-bookmark-folder-${id}-${userFolders[i].id}" style="color: #2c55cd;">${userFolders[i].name}</span>
                                `);
                            }
                            else {
                                $('#edit-bookmark-folders').append(`
                                    <span class="edit-bookmark-folder" id="edit-bookmark-folder-${id}-${userFolders[i].id}">${userFolders[i].name}</span>
                                `);
                            }
                        }

                        $('.edit-bookmark-folder').on('click', (e) => {
                            let target = $(e.target);
                            $('.edit-bookmark-folder').css('color', '#8e8e8e');
                            target.css('color', '#2c55cd');
                        });

                        $('#edit-url-popup').css('display', '');
                        $('#edit-url-popup').css('position', 'absolute');
                        $('#edit-url-popup').css('top', `${button.position().top - 200}px`);
                        $('#edit-url-popup').css('left', `${button.position().left - 150}px`);
                    });

                });
            }

            function getEditPageFolder() {
                var settings = {
                    "async": true,
                    "crossDomain": true,
                    "url": "/app/folders/?owner__username={{ user.username }}",
                    "method": "GET",
                    "headers": {
                    "content-type": "application/x-www-form-urlencoded",
                    }
                }

                $.ajax(settings).done(function (response) {
                    $('#setting-folder-field').empty();
                    for(let i in response) {
                        $('#setting-folder-field').append(`
                            <div id="setting-folder-item-${response[i].id}" class="folder-item">
                                <img id="setting-folder-remove-${response[i].id}" class="edit-folder-remove" src="/static/capture/images/remove.png" width="13px" height="13px">
                                <span class="folder">${response[i].name} (${response[i].bookmarks.length})</span>
                            </div>
                        `);
                        $(`#setting-folder-remove-${response[i].id}`).on('click', () => {
                            $(`#setting-folder-item-${response[i].id}`).css('display', 'none');
                            var settings = {
                                "async": true,
                                "crossDomain": true,
                                "url": `/app/folders/${response[i].id}`,
                                "method": "DELETE",
                                "headers": {
                                    "content-type": "application/x-www-form-urlencoded",
                                    "authorization": `Basic ${token}`
                                }
                            }

                            $.ajax(settings).done(function (response) {
                                console.log(response);
                                getSideMenuFolder();
                            });
                        });
                    }
                    $('.edit-folder-remove').css('display', 'none');
                    $('#edit-folder-submit-field').css('display', 'none');
                    $('#edit-folder-submit').text('편집');
                });
            }

            function getEditPageTag() {
                var settings = {
                    "async": true,
                    "crossDomain": true,
                    "url": "/app/tags/?owner__username={{ user.username }}",
                    "method": "GET",
                    "headers": {
                    "content-type": "application/x-www-form-urlencoded",
                    }
                }

                $.ajax(settings).done(function (response) {
                    $('#setting-tag-field').empty();
                    for(let i in response) {
                        $('#setting-tag-field').append(`
                            <div id="setting-tag-item-${response[i].id}" class="tag-item">
                                <button type="button" name="button">${response[i].name}</button>
                                <img id="setting-tag-remove-${response[i].id}" class="edit-tag-remove" src="/static/capture/images/remove.png" width="13px" height="13px">
                            </div>
                        `);
                        $(`#setting-tag-remove-${response[i].id}`).on('click', () => {
                            $(`#setting-tag-item-${response[i].id}`).css('display', 'none');
                            var settings = {
                                "async": true,
                                "crossDomain": true,
                                "url": `/app/tags/${response[i].id}`,
                                "method": "DELETE",
                                "headers": {
                                    "content-type": "application/x-www-form-urlencoded",
                                    "authorization": `Basic ${token}`
                                }
                            }

                            $.ajax(settings).done(function (response) {
                                console.log(response);
                                getSideMenuTag();
                            });
                        });
                    }

                    $('.edit-tag-remove').css('display', 'none');
                    $('#edit-tag-submit-field').css('display', 'none');
                    $('#edit-tag-submit').text('편집');
                });
            }

            function getSideMenuTag() {
                var settings = {
                    "async": true,
                    "crossDomain": true,
                    "url": "/app/tags/?owner__username={{ user.username }}",
                    "method": "GET",
                    "headers": {
                    "content-type": "application/x-www-form-urlencoded",
                    }
                }

                $.ajax(settings).done(function (response) {
                    userTags = response
                    $('#side-tag-field').empty();
                    for(let i in response) {
                        $('#side-tag-field').append(`
                            <button id="user-tag" class="user-tag" type="button">${response[i].name}</button>
                        `);
                    }

                    $('.user-tag').on('click', (e) => {
                        $('#edit-url-popup').css('display', 'none');
                        let tag = $(e.target).text();
                        let isChecked = false;

                        for(i in selectedTags) {
                            if(selectedTags[i] == tag) {
                                isChecked = true;
                                selectedTags.splice(i, 1);
                            }
                        }

                        if(isChecked) {
                            $(e.target).css('background-color', '#f5f5f5');
                            $(e.target).css('color', '#8e8e8e');
                        }
                        else {
                            $(e.target).css('background-color', '#2c55cd');
                            $(e.target).css('color', 'white');
                            selectedTags.push(tag);
                        }
                        getBookmark(selectedFolder, selectedTags);
                        $('#nav-tag-names').text(selectedTags.join(' '))
                    });

                    getBookmark(selectedFolder, selectedTags);
                });
            }

            function getSideMenuFolder() {
                var settings = {
                    "async": true,
                    "crossDomain": true,
                    "url": "/app/folders/?owner__username={{ user.username }}",
                    "method": "GET",
                    "headers": {
                    "content-type": "application/x-www-form-urlencoded",
                    }
                }

                $.ajax(settings).done(function (response) {
                    userFolders = response
                    $('#side-folder-field').empty();
                    var max = 0;
                    for(let i in response) {
                        max += response[i].bookmarks.length;
                    }
                    $('#side-folder-field').append(`
                        <span id="show-all" class="folder">전체 (${max})</span>
                    `);
                    for(let i in response) {
                        $('#side-folder-field').append(`
                            <span class="folder side-folder-text">${response[i].name} (${response[i].bookmarks.length})</span>
                        `);
                    }
                    $('#show-all').on('click', (e) => {
                        selectedFolder = '';
                        getBookmark(selectedFolder, selectedTags);
                        $('#nav-folder-name').text("전체");
                    });
                    $('.side-folder-text').on('click', (e) => {
                        $('#edit-url-popup').css('display', 'none');
                        let text = $(e.target).text().split(' (')[0];
                        selectedFolder = text;
                        $('#nav-folder-name').text(selectedFolder);
                        console.log(text);
                        getBookmark(selectedFolder, selectedTags);
                    });
                    getBookmark(selectedFolder, selectedTags);
                });
            }

            function modalSetting() {
                $('.modal').modal();
                $('#setting').on('click', () => {
                    $('#modal-setting').modal('open');
                });
                $('#upload').on('click', () => {
                    document.getElementById('image-file').click();
                });
                $('#add-url').on('click', () => {
                    $('#modal-add-url').modal('open');
                    $('#dropdown1').empty();

                    for(let i in userFolders) {
                        $('#dropdown1').append(`
                            <li><a id="add-bookmark-select-folder-${userFolders[i].id}" class="add-bookmark-select-folder" href="#!">${userFolders[i].name}</a></li>
                        `);
                    }
                    $('.add-bookmark-select-folder').on('click', (e) => {
                        console.log($(e.target).text());
                        selectedFolderInAddBookmark = $(e.target).text();
                    });
                });
                $('#edit-profile-modal-close').on('click', () => {
                    $('#modal-setting').modal('close');
                });
                $('#close-modal-add-url').on('click', () => {
                    $('#modal-add-url').modal('close');
                });
            }
        </script>
    </body>
</html>
