<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Damda</title>
        <!-- jquery -->
        <script src="https://code.jquery.com/jquery-2.2.3.min.js"></script>
        <!-- materializecss -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <!-- css -->
        <link rel="stylesheet" href="/static/capture/css/index.css" type="text/css">
    </head>
    <body>
        <div class="content">
            <div class="side z-depth-3">

                <div class="profile">
                    <div class="profile-image">
                        <img class="setting" src="/static/capture/images/setting.png" width="30px" height="30px">
                        <img class="image" src="/static/capture/images/default.png" width="150px" height="150px">
                    </div>
                    <div class="name">
                        <span>김동현</span>
                    </div>
                </div>

                <div class="tag-and-folder">
                    <div class="tags">
                        <button class="tag" type="button">#색상</button>
                        <button class="tag" type="button">#웹디자인</button>
                        <button class="tag" type="button">#그래픽</button>
                        <button class="tag" type="button">#디자인 참고</button>
                        <button class="tag" type="button">#앱디자인</button>
                        <button class="tag" type="button">#귀여운 일러</button>
                        <button class="tag" type="button">#캐릭터 일러</button>
                        <button class="tag" type="button">#연예인</button>
                        <button class="tag" type="button">#캐릭터 일러</button>
                        <button class="tag" type="button">#캐릭터 일러</button>
                        <button class="tag" type="button">#캐릭터 일러</button>
                        <button class="tag" type="button">#캐릭터 일러</button>
                        <button class="tag" type="button">#캐릭터 일러</button>
                    </div>
                    <div class="folders">
                        <span class="folder">자주 찾는 곳 (8)</span>
                        <span class="folder">자주 찾는 곳 (8)</span>
                        <span class="folder">자주 찾는 곳 (8)</span>
                        <span class="folder">자주 찾는 곳 (8)</span>
                        <span class="folder">자주 찾는 곳 (8)</span>
                        <span class="folder">자주 찾는 곳 (8)</span>
                    </div>
                </div>

                <div class="service">
                    <img src="/static/capture/images/logo.png" width="30px" height="30px">
                    <span>'damda'</span>
                </div>

            </div>
            <div class="main">
                <div class="nav">
                    <span class="folder-name">디자인</span>
                    <span class="nav-title-bar">|</span>
                    <span class="tag-name">#색상 #그래픽 #일러</span>
                </div>
                <div class="bookmark-view">

                </div>
            </div>
        </div>
    </body>
</html>
